*{box-sizing: border-box;font-weight: normal;color: #333;}
body{margin: 0;padding: 0;font-family: 'regular';}
a{text-decoration: none;color: #FF6600;}
.text-center{text-align: center;}
.btn {display: inline-block;font-weight: 400;color: #212529;text-align: center;vertical-align: middle;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-color: transparent;border: 1px solid transparent;padding: .375rem .75rem;font-size: 1rem;line-height: 1.5;border-radius: .25rem;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.btn-find{background: #FF6600;border-color: #FF6600;color: #fff;}
.btn-white{background: #fff;border-color: #fff;color: #333;box-shadow: 0px 6px 12px rgba(0,0,0,0.16);font-size: 17px;}
.btn-outline-find{background: #fff;border-color: #FF6600;color: #FF6600;}
.btn-outline-dark{color: #333333;border-color: #333333;background: transparent;}
.btn-outline-dark:hover{color: #fff;border-color: #333333;background: #333333}
.btn-block {display: block;width: 100%;}
.form-control {display: block;width: 100%;height: calc(1.5em + .75rem + 2px);padding: .375rem .75rem;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #495057;background-color: #fff;background-clip: padding-box;border: 1px solid #ced4da;border-radius: .25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
p{margin: 0;font-size: 16px;}
strong{font-family: 'bold';}
.genCont h2{margin: 0;font-size: 44px;font-family: 'semibold';}
.genCont h3{margin: 0;font-size: 30px;font-family: 'semibold';}
.genCont h2 + p{margin: 10px 0 0;}
.genCont p + p{margin: 10px 0 0;}
.container{width: 100%;padding: 0 15px;}
.containerMed{width: 100%;max-width: 970px;padding: 0 15px;margin: 0 auto;}
.row{display: flex;flex-wrap: wrap;margin: 0 -15px;}
.col-lg-3, .col-lg-4, .col-lg-8, .col-lg-9, .col-md-4, .col-md-6, .col-md-7, .col-md-8, .col-6, .col-12{padding-left: 15px;padding-right: 15px;width: 100%;}
.col-6{flex: 0 0 50%;max-width: 50%;}
.col-12{flex: 0 0 100%;max-width: 100%;}
h4{font-size: 22px}
.img-fluid{max-width: 100%;}
.align-items-center{align-items: center;}
.d-block{display: block;}
.form-group{margin: 0 0 16px}

.pg{padding: 30px 0;}
.pb-0{padding-bottom: 0;}

header{display: block;box-shadow: 0px 6px 36px rgba(0,0,0,.15);}
.topbar{background: linear-gradient(278deg, rgba(33,147,176,1) 0%, rgba(255,0,136,1) 0%, rgba(255,102,0,1) 100%);color: #fff;padding: 6px 15px;}
.topbar p{color: #fff;}
.topbar p strong{color: #fff;}
.navbar{display: flex;justify-content: space-between;align-items: center;}
.navbar-brand img{height: 35px;}
ul.navbar-nav{list-style: none;display: flex;align-items: center;padding: 0;margin: 0;}
ul.navbar-nav>li{padding: 10px 23px;}
ul.navbar-nav>li:last-child{padding-right: 0}
ul.navbar-nav>li>a:not(.btn){font-size: 16px;color: #333;}
ul.navbar-nav>li>a:not(.btn):hover{color: #FF6600}

.bannerFr{position: relative;margin-bottom: 30px;}
.banner{height: 100%;position: relative;padding: 50px 0;}
.banner .bannerImg{position: absolute;left: 0;right: 0;top: 0;bottom: 0;z-index: 0;}
.banner .bannerImg:after{content: '';position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.6);}
.banner .bannerImg img{width: 100%;height: 100%;object-fit: cover;}
.bannerFr .bannerFilter{display: flex;align-items: center;position: relative;z-index: 9;padding: 25px 0;min-height: 430px;}
.bannerFr .bannerFilter .genCont p{text-shadow: 0px 3px 6px rgba(0,0,0,0.16);color: #fff;}
.bannerFr .bannerFilter .genCont h2{text-shadow: 0px 3px 6px rgba(0,0,0,0.51);color: #fff;}
.bannerFilter .filterRow{display: flex;flex-wrap: wrap;align-items: center;padding: 25px 15px;background: rgba(130, 128, 128, 0.53);backdrop-filter: blur(8px);border-radius: 6px;margin: 20px 0;}
.bannerFilter .filterRow .form-group{padding: 0 8px;flex: 0 0 25%;position: relative;z-index: 1;}
.bannerFilter .filterRow .form-group > *{height: 60px;padding: 0.5rem 1.5rem;box-shadow: 0px 3px 6px rgba(0,0,0,0.41);border-radius: 6px;}
.bannerFilter .filterRow .form-group .form-control{color: #000;border-color: #ccc;}
.bannerFilter .filterRow .form-group .form-control::placeholder{color: #bbb}
.tickPoint{list-style: none;padding: 0;margin: 0;display: flex;align-items: center;flex-wrap: wrap;}
.tickPoint li{position: relative;padding: 0 32px;}
.tickPoint li:after{content: '';position: absolute;left: 5px;top: -2px;height: 15px;width: 8px;border-right: 4px solid #fff;border-bottom: 4px solid #fff;transform: rotate(45deg);}
.bannerFr .bannerFilter .tickPoint{justify-content: center;}
.bannerFr .bannerFilter .tickPoint li{color: #fff}

.bannerSlider{position: absolute;left: 0;right: 0;top: 0;bottom: 0;}
.bannerSlider .purejscarousel-btn{display: none;}
.bannerSlider .purejscarousel-dots-container{display: flex;align-items: center;justify-content: center;position: absolute;left: 0;right: 0;bottom: 50px;z-index: 1;}
.bannerSlider .purejscarousel-dots-container button{width: 11px;height: 11px;margin: 3px;border-radius: 100%;border: 0;padding: 0;background: #fff;cursor: pointer;transition: 0.15s all ease-in;}
.bannerSlider .purejscarousel-dots-container button.active, .bannerSlider .purejscarousel-dots-container button:hover{background: #FF6600}

.iconList{list-style: none;padding: 0;display: flex;flex-wrap: wrap;margin: 50px 0 0;}
.iconList li{flex: 0 0 50%;max-width: 50%;padding: 20px 35px 50px;border-bottom: 1px solid #e9e9e9;border-left: 1px solid #e9e9e9;}
.iconList li .iconic{display: flex;align-items: flex-start;}
.iconList li .iconic .icon{flex: 0 0 45px;max-width: 45px;margin-right: 25px;}
.iconList li .iconic .iconDesc h3{margin: 0;font-size: 24px;margin-bottom: 10px;font-family: 'medium';}
.iconList li .iconic .iconDesc p{color: #949494;max-height: 23px;overflow: hidden;}
.iconList li:nth-last-child(-n + 2){border-bottom: 0}
.iconList li:nth-child(odd){padding-left: 0;border-left: 0;}

.featured .genCont{margin-bottom: 10px;}
.fHall{margin: 0 -20px;}
.fHall .col-md-6{padding-left: 20px;padding-right: 20px;}
.hall{border-radius: 6px;width: 100%;margin: 20px 0;}
.hall .hallImg{width: 100%;height: 190px;border-top-left-radius: 6px;border-top-right-radius: 6px;overflow: hidden;}
.hall .hallImg img{height: 100%;width: 100%;object-fit: cover}
.hall .hallDesc{background: #fff;padding: 15px 20px 30px;box-shadow: 0px 6px 12px rgba(0,0,0,0.16);border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;}
.hall .hallDesc h4{margin: 0 0 7px;font-family: 'medium';}
.hall .hallDesc p{color: #797A7E;font-size: 15px;}
.hall .hallDesc p + p{margin: 10px 0 0;}
.hall .hallDesc p.icons{display: flex;align-items: center}
.hall .hallDesc p.icons .icon{margin-right: 5px}
.hall .hallDesc p strong{color: #797A7E;font-family: 'bold';}
.hall .hallDesc > p strong{margin-right: 5px;}
.hall .hallDesc .justified-between{margin-top: 15px;display: flex;justify-content: space-between;align-items: center;}
.hall .hallDesc .justified-between p + p{margin: 0}
.fHall .btn-white{width: 260px;height: 58px;margin: 20px 0;}

.whyHall{list-style: none;padding: 0;margin: 30px -20px 0;display: flex;flex-wrap: wrap;}
.whyHall li{flex: 0 0 33.33%;max-width: 33.33%;padding: 15px 25px;}
.whyHall li .iconImg{height: 80px}
.whyHall li .iconImg img{height: 100%}
.whyHall li .propDesc h3{font-size: 24px}
.whyHall li .propDesc p{color: #949494}

.bg-app{position: relative;min-height: 950px;display: flex;justify-content: center;align-items: center;}
.bg-app .bg-img{position: absolute;left: 0;right: 0;top: 0;bottom: 0;}
.bg-app .bg-img img{width: 100%;height: 100%;}
.appDesc{position: relative;z-index: 1;}
.appDesc .genCont h2{color: #fff;font-size: 41px;margin-bottom: 25px;}
.appDesc .genCont p{color: #fff;}
.appDesc .genCont p{margin-bottom: 30px}

.cta{display: flex;justify-content: center;align-items: center;margin: 30px 0 0;}
.cta .btn{width: 360px;height: 80px;}
.cta p{font-size: 20px;margin: 0 40px;}

.subs{background:#F5F5F5}
.newsLetter{display: flex}
.newsLetter .form-control{border-top-right-radius: 0;border-bottom-right-radius: 0;height: 66px;font-size: 22px;color: #000;border: 0;}
.newsLetter .form-control::placeholder{color: #C8C8C8}
.newsLetter .btn{border-top-left-radius: 0;border-bottom-left-radius: 0;width: 150px;height: 66px;}

.testimonials{background: url('../images/testi.png')no-repeat center;background-size: cover;background-attachment: fixed;position: relative;text-align: center;}
.testimonials:after{content: '';position: absolute;left: 0;right: 0;bottom: 0;top: 0;background: rgba(51, 51, 51, .9);}
.testimonials .genCont h2{color: #fff}
.testimonials .container{position: relative;z-index: 1;}
.testiList{list-style: none;display: flex;align-items: flex-start;flex-wrap: wrap;padding: 65px 0;margin: 0;}
.testiList li{display: block;flex: 0 0 33.33%;max-width: 33.33%;padding: 15px 20px;width: 33.33%;}
.testiList li .testIcon{width: 100px;height: 100px;margin: 0 auto;border-radius: 100%;overflow: hidden;}
.testiList li .testIcon img{width: 100%;height: 100%;object-fit: contain;}
.testiList li .testDesc{margin: 17px 0;}
.testiList li .testDesc h4{font-size: 16px;color: #fff;margin: 0 0 10px;font-family: 'bold';}
.testiList li .testDesc p{font-size: 18px;color: #fff;}

.testiList .purejscarousel-slides-container{overflow: hidden}
.testiList .purejscarousel-dots-container{display: flex;align-items: center;justify-content: center;width: 100%;}
.testiList .purejscarousel-dots-container button{width: 10px;height: 10px;margin: 3px;border: 0;border-radius: 100%;padding: 0;background: #fff;transition: 0.15s all ease-in-out;}
.testiList .purejscarousel-dots-container button.active{background: #FF6600;}
.testiList .purejscarousel-btn{display: none;}

footer{background: #333;padding: 30px 0;}
footer .container + .container{border-top: 1px solid #484848;}
footer .singleMenu{display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;width: 100%;}
footer ul.inline{display: flex;margin: 0 -25px;padding: 0;flex-wrap: wrap;}
footer ul.inline li a{padding: 20px 25px;color: #fff;display: block;line-height: 25px;}
footer ul.inline li a .fa{color: #fff;}
footer p.cpr{color: #949494;font-size: 14px;margin-top: 30px;}

.tags{list-style: none;padding: 0;margin: 10px 0;display: flex;flex-wrap: wrap;}
.tags li{margin-right: 15px;margin-top: 7px;margin-bottom: 7px;}
.tags li a{display: inline-block;padding: 8px 25px;background: #eee;border: 1px solid #E5E5E5;color: #6E6D7A;font-size: 14px;position: relative;border-radius: 4px;}
.tags li a:after{content: '';position: absolute;left: 14px;top: 11px;width: 0;height: 0;border-right: 5px solid red;border-top: 5px solid transparent;border-bottom: 5px solid transparent;}
.hallND h2{font-size: 47px;margin: 0;font-family: 'medium';}
.hallND .hallPoints{list-style: none;padding: 0;margin: 10px -10px;display: flex;flex-wrap: wrap;}
.hallND .hallPoints li{padding: 0px 10px;margin: 5px 0;display: flex;align-items: center;}
.hallND .hallPoints li:not(:last-child){border-right: 1px solid #D8D8D8;}
.hallND .hallPoints li .rating{margin-right: 10px;}
.hallND .hallPoints li .rating .fa{font-size: 15px;color: #6E6D7A;}
.hallND .hallPoints li .rating .fa-star, .hallND .hallPoints li .rating .fa-star-o{color: #ff6600;}
.hallND .hallPoints li p{font-size: 14px;color: #6E6D7A;}
.hallND .hallPoints li p strong{color: #6E6D7A;}
.hallND .singleHall img{max-width: 100%}
.hallND .singleHall{position: relative;width: 100%;}
.hallND .singleHall .purejscarousel-dots-container{position: absolute;left: 0;right: 0;bottom: 50px;display: flex;align-items: center;justify-content: center;}
.hallND .singleHall .purejscarousel-dots-container button{width: 20px;height: 20px;border: 0;border-radius: 6px;margin: 3px;background: rgba(255, 255, 255, .6);cursor: pointer;padding: 0;}
.hallND .singleHall .purejscarousel-dots-container button.active, .hallND .singleHall .purejscarousel-dots-container button:hover{background: #fff;}
.hallND .singleHall .purejscarousel-btn{position: absolute;top: calc(50% - 30px);width: 60px;height: 60px;background: rgba(255,255,255,0.75);border: 0;border-top-right-radius: 6px;border-bottom-right-radius: 6px;font: normal normal normal 35px/1 FontAwesome;font-weight: 600;color: #333;}
.hallND .singleHall .purejscarousel-btn:after{content: "\f104";}
.hallND .singleHall .purejscarousel-btn.purejscarousel-btn-prev{left: 0}
.hallND .singleHall .purejscarousel-btn.purejscarousel-btn-next{right: 0;transform: rotate(180deg);}

.accordionWrapper{margin-top: 20px}
.accordionItem{border: 1px solid #e9e9e9;border-radius: 6px;margin: 20px 0;}
.accordionItem .accordionItemHeading{background: #F5F5F5;display: flex;align-items: center;justify-content: space-between;padding: 15px 20px;border-bottom: 1px solid #DBDBDB;}
.accordionItem .accordionItemHeading h2{margin: 0;font-size: 15px;font-family: 'bold';}
.accordionItem .accordionItemHeading h2 strong{color: #ff6600;margin-left: 5px}
.accordionItem .accordionItemHeading h2 i{color: #ff6600;margin-right: 5px;}
.accordionItem .accordionItemHeading i{color: #ff6600;font-size: 20px;font-weight: 700;}
.accordionItem .accordionItemContent{padding: 20px}
.accordionItem.close .accordionItemContent{max-height: 0;padding: 0;overflow: hidden;transition: 0.5s max-height, 0.25s all ease-in;}
.accordionItem.open .accordionItemContent{max-height: 200vh;}
.accordionItem .accordionItemContent p{margin: 15px 0}
.accordionItem .accordionItemContent ul.block{list-style: none;padding: 0;margin: 0;}
.accordionItem .accordionItemContent ul.block li{border-bottom: 1px solid #eee;padding: 13px 0;}
.accordionItem .accordionItemContent ul.block li p.icons{margin: 0;display: flex;align-items: flex-start;font-size: 14px;}
.accordionItem .accordionItemContent ul.block li p .icon{margin-right: 10px;}
.accordionItem .accordionItemContent ul.block li .justified-between{display: flex;align-items: center;margin: 0 -15px;}
.accordionItem .accordionItemContent ul.block li .justified-between p{padding: 0 15px}
.accordionItem .accordionItemContent iframe{width: 100%;height: 170px;}
.accordionItem .accordionItemContent ul.inline{list-style: none;padding: 0;margin: 0 -12px;display: flex;flex-wrap: wrap;}
.accordionItem .accordionItemContent ul.inline li{text-align: center;padding: 5px 12px;}
.accordionItem .accordionItemContent ul.inline li img{max-width: 30px;margin: 0 auto 15px;}
.accordionItem .accordionItemContent ul.inline li p{color: #6E6D7A;margin: 0;}
.accordionItem .accordionItemContent ul.inline li p strong{display: block;color: #6E6D7A;}
.accordionItem .accordionItemContent ul.inline li.sep{border-right: 1px solid #dedede}

.b-similar-venues-link{display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}
.b-similar-venues-link .b-similar-venues-link__info{color: #6E6D7A;font-size: 14px;margin-right: 20px;}
.b-similar-venues-link .btn{width: 165px;height: 40px;}
.btn-find .fa{color: #fff}
.m-service-list{margin-bottom: 15px}
.m-service-list h6{font-size: 15px;margin: 0;font-family: 'bold';}
.m-service-list h6 .fa{margin-right: 10px;color: #BBBBBB;}
.m-service-list ul{list-style: none;margin: 10px 0;padding: 0;}
.m-service-list ul li{font-size: 14px;padding: 5px 0;padding-left: 25px;position: relative;}
.m-service-list ul li.not-available{color: #BBBBBB;text-decoration: line-through;}
.m-service-list ul li .fa{color: #ff6600;position: absolute;left: 0;}
.pricing{list-style: none;padding: 0;margin: 0 -15px;display: flex;flex-wrap: wrap;}
.pricing li{flex: 0 0 25%;max-width: 25%;padding: 10px 15px;text-align: center;}
.pricing li p{text-align: center;}
.pricing li p strong{display: block;}
.pricing li.quite{opacity: 0.6;}

.reviews{list-style: none;padding: 0;margin: 0 0 20px;}
.reviews li{padding: 10px 0;border-bottom: 1px solid #dedede;}
.reviews .col-md-4 p{text-align: right;font-size: 14px;color: #797A7E;}
.reviews .col-md-4 p strong{color: #797a7e}
.reviews .col-md-4 p .fa{margin-right: 5px;color: #ff6600;}
.accordionItem .accordionItemContent .reviews p{margin: 7px 0;display: inline-block;width: 100%;color: #6E6D7A;}
.accordionItem .accordionItemContent .reviews p strong{color: #6e6d7a}
.accordionItem .accordionItemContent .btn-find{width: 180px;height: 53px;}
.row.simHall{margin: 0 -10px;}
.row.simHall .col-md-4{padding: 0 10px;}
.simHall .hall .hallImg{height: 125px;}
.simHall .hall .hallDesc h4{font-size: 14px;font-family: 'bold';margin: 0;}
.simHall .hall .hallDesc{padding: 5px 10px 10px;}
.simHall .hall .hallDesc p{font-size: 14px;margin: 7px 0;}
.simHall .hall .hallDesc > .justified-between{margin: 0 !important;}
.simHall .hall .hallDesc .justified-between{margin: 7px 0 0;}
.simHall .hall .hallDesc p.icons .icon{width: 13px;height: 13px}
.simHall .hall .hallDesc p.icons .icon img{max-width: 100%;max-height: 13px}
.step ul li:last-child{border-bottom: 0}

.availibity .form-control{height: 49px;}
.availibity .form-control::placeholder{color: #BBBBBB}
.availibity textarea.form-control{height: 210px;resize: none;overflow: auto;}
.availibity .checkbox{border: 1px solid #ced4da;height: 49px;display: flex;align-items: center;justify-content: center;border-radius: 4px;padding: 5px 15px;}
.availibity .checkbox input {padding: 0;height: initial;width: initial;margin-bottom: 0;display: none;cursor: pointer;}
.availibity .checkbox label {position: relative;cursor: pointer;padding-left: 23px;color: #6E6D7A;font-family: 'medium';}
.availibity .checkbox label:before {content: '';-webkit-appearance: none;background: #ffaf79;position: absolute;left: 0;top: 2px;width: 15px;height: 15px;border-radius: 100%;}
.availibity .checkbox input:checked + label:after {content: '';display: block;position: absolute;top: 5px;left: 6px;width: 2px;height: 6px;border: solid #fff;border-width: 0 2px 2px 0;transform: rotate(45deg);}
.availibity .checkbox input:checked + label:before{background: #ff6600;}
.availibity form .btn-block{height: 72px;font-size: 18px;font-family: 'bold';}
.step{position: relative;background: #F3F3F3;border: 1px solid #DBDBDB;padding: 10px 20px;border-radius: 6px;margin-top: 20px;}
.step:after{content: '';position: absolute;left: 0;right: 0;bottom: calc(100% - 15px);width: 30px;height: 30px;background: inherit;border: 1px solid #DBDBDB;transform: rotate(45deg);margin: 0 auto;border-bottom: 0;border-right: 0;}
.step ul{list-style: none;padding: 0;margin: 0;}
.step ul li{border-bottom: 1px solid #dedede;padding: 10px 0;display: flex;align-items: flex-start;}
.step ul li i.icon{flex: 0 0 30px;max-width: 30px;margin-right: 10px;}
.step ul li i.icon img{width: auto;}
.step ul li p{color: #6E6D7A;font-size: 14px;}
.step ul li p strong{color: #6E6D7A;display: block;font-size: 15px;}



@media (min-width: 768px){
    .col-md-4 {-ms-flex: 0 0 33.33%;flex: 0 0 33.33%;max-width: 33.33%;}
    .col-md-5 {-ms-flex: 0 0 41.66%;flex: 0 0 41.66%;max-width: 41.66%;}
    .col-md-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
    .col-md-7 {-ms-flex: 0 0 58.33%;flex: 0 0 58.33%;max-width: 58.33%;}
    .col-md-8 {-ms-flex: 0 0 66.66%;flex: 0 0 66.66%;max-width: 66.66%;}
}
@media (min-width: 991px){
    .col-lg-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
    .col-lg-4 {-ms-flex: 0 0 33.33%;flex: 0 0 33.33%;max-width: 33.33%;}
    .col-lg-8 {-ms-flex: 0 0 66.66%;flex: 0 0 66.66%;max-width: 66.66%;}
}

@media(min-width: 768px){
    .containerMed {width: 100%;max-width: 750px;padding: 0 15px;margin: 0 auto;}
    .container{width: 100%;max-width: 750px;padding: 0 15px;margin: 0 auto;}
    .hamburger{display: none;}
}
@media(min-width: 992px){
    .container{width: 100%;max-width: 950px;padding: 0 15px;margin: 0 auto;}
}
@media(min-width: 1230px){
    .container{width: 100%;max-width: 1190px;padding: 0 15px;margin: 0 auto;}
}

@media(max-width: 991px){
    ul.navbar-nav>li{padding: 10px 15px;}
    .pricing li{flex: 0 0 33.33%;max-width: 33.33%;}
    footer ul.inline li a{padding: 15px;}
    .bg-app{min-height: 650px;}
}
@media(max-width: 767px){
    .d-md-none{display: none;}
    p{font-size: 14px}
    .navbar{flex-wrap: wrap}
    ul.navbar-nav{width: 100%;flex-wrap: wrap;max-height: 0;overflow: hidden;transition: 0.5s max-height;}
    ul.navbar-nav li{width: 100%;text-align: center;}
    ul.navbar-nav.active{max-height: 100vh;}
    .genCont h2{font-size: 25px}
    .genCont h3{font-size: 18px}
    .pg{padding: 20px 0}
    .hamburger {background: transparent;border: none;width: 40px;height: 25px;position: relative;outline: none;cursor: pointer;}
    .hamburger__line {position: absolute;left: 0;height: 3px;background: linear-gradient(278deg, rgba(33,147,176,1) 0%, rgba(255,0,136,1) 0%, rgba(255,102,0,1) 100%);border-radius: 3px;transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);}
    .hamburger__line--top {top: 0;width: 50%;}
    .hamburger__line--center {width: 100%;top: 50%;margin-top: -1.5px;}
    .hamburger__line--bottom {bottom: 0;width: 50%;transform: translateX(100%);}
    .hamburger:hover .hamburger__line--top {transform: translateX(100%);}
    .hamburger:hover .hamburger__line--bottom {transform: translateX(0);}
    .ham-active .hamburger__line {border-radius: 0;}
    .ham-active .hamburger__line--top {transform: translateX(calc(100% - 3px)) translateY(3px) rotate(-45deg) !important;}
    .ham-active .hamburger__line--center {transform: rotate(45deg);}
    .ham-active .hamburger__line--bottom {transform: translateX(3px) translateY(-3px) rotate(-45deg) !important;}

    .bannerSlider .purejscarousel-dots-container{display: none}
    .bannerFilter .filterRow .form-group{flex: 0 0 100%}
    .bannerFilter .filterRow .form-group > *{height: 45px;font-size: 15px;}
    .bg-app{min-height: auto;background: linear-gradient(278deg, rgba(33,147,176,1) 0%, rgba(255,0,136,1) 0%, rgba(255,102,0,1) 100%);}
    .bg-app .bg-img img{display: none;}
    .iconList{margin: 20px 0 0;}
    .iconList li{flex: 0 0 100%;max-width: 100%;border: 0;padding: 10px;}
    .iconList li:nth-child(odd){padding-left: 10px}
    .iconList li .iconic .icon{flex: 0 0 30px;max-width: 30px;}
    .iconList li .iconic .icon img{max-width: 100%    }
    .iconList li .iconic .iconDesc h3{font-size: 18px}
    .iconList li .iconic .iconDesc p{max-height: max-content;}
    .whyHall li{max-width: 100%;flex: 0 0 100%;}
    .accordionItem .accordionItemContent ul.inline li{flex: 0 0 50%;max-width: 50%}
    .hallND h2{font-size: 22px}
    .hallND .singleHall .purejscarousel-btn{width: 30px;height: 30px;font-size: 20px;}
    .hallND .singleHall .purejscarousel-dots-container button{width: 10px;height: 10px;border-radius: 100%}
    .hallND .hallPoints li{width: 100%;}
    .hallND .hallPoints li:not(:last-child) {border-right: 0;}

    .cta{flex-wrap: wrap}
    .cta p{margin: 10px 0;}
    .cta .btn{width: 100%;height: 60px;}
    .newsLetter{margin: 15px 0 0}
    .newsLetter .form-control{height: 50px;font-size: 16px;}
    .newsLetter .btn{height: 50px;}
    .testiList li{flex: 0 0 100%;max-width: 100%}

    .pricing li{flex: 0 0 50%;max-width: 50%;}

    footer{padding: 15px 10px;}
    footer ul.inline{margin: 0;width: 100%;}
    footer ul.inline li{width: 100%;text-align: center;}
    footer ul.inline.social{justify-content: center;margin-top: 10px;}
    footer ul.inline.social li{width: auto;}
    footer ul.inline li a{padding: 5px;font-size: 14px;}
    footer ul.inline.social li a{font-size: 16px;padding: 5px 10px}
    footer p.cpr{margin-top: 15px;}
}